@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {

    --primary-color: #793CBD;

    --color-white: #fff;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);

    --color-background: #f6f6f9;

    --card-border-radius: 1rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.1rem 1rem;
    --padding-1: 0.5vw;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;

    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    /* height: 100vh; */
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    /* user-select: none; */
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


a {
    color: var(--color-dark);
}


h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}



p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 97vw;

    .datas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
        background-color: var(--color-white);
        border-radius: var(--border-radius-1);
        box-shadow: var(--box-shadow);

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1vw;
            padding: 0.5vw;
        }

        label {
            font-size: 1vw;
        }

        select {
            color: var(--color-dark);
            background-color: transparent;
            font-size: 1vw;

            option {
                background-color: var(--color-white);
            }

        }

        .material-symbols-outlined {
            cursor: pointer;
        }


    }

    img {
        width: 3.5rem;
    }
}



.container {
    display: grid;
    width: 97vw;
    margin: 0.5vw;
    gap: 1.5rem;
    grid-template-columns: 12rem auto;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}


main {
    width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.75rem;
}

/* KPI -------------------------------------------------- */

main .analyse {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
}

.card_kpi {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 8vw;
}


.kpi_header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .material-symbols-outlined {
        font-size: 2vw;
    }

    #inicio {
        color: #f77802;
    }

    #tempo {
        color: #087bda;
    }

    #alarm {
        color: #02e7f7;
    }

    #construcao {
        color: #022ff7;
    }

    #termino_ {
        color: #f77802;
    }
}


.card_kpi h3 {
    font-size: 1rem;
    color: var(--color-dark);
}

.card_kpi h1 {
    color: var(--primary-color);
}


.charts-container {
    display: grid;
    grid-template-columns: 30% 35% auto;
    gap: 1.75rem;
}

.first-section,
.second-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.chart_card {
    height: auto;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5vw;
    height: 15vw;
    transition: all 0.3s ease;
    ;
}


#map {

    width: 100%;
    height: 100%;
}

/* --------------------------------------------- */

#tabela_etapas {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#tabela_etapas::-webkit-scrollbar {
    width: 6px;
}

.tabela-etapas {
    width: 100%;
    border-collapse: collapse;
}

#tabela_etapas::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.tabela-etapas {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.tabela-etapas th,
.tabela-etapas td {
    text-align: center;
    vertical-align: center;
    font-size: 15px;
}

.tabela-etapas thead {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-white);
}


/* ----------------------------------------------------------------------- */


@media screen and (max-width: 968px),
screen and (orientation: portrait) {


    html {
        font-size: 15px;
    }

    body {
        width: 100%;
        min-height: 100vh;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .header {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }

    .header img {
        width: 3rem;
    }

    .header .datas {
        width: 100%;
        flex-direction: column-reverse;
        gap: 0.8rem;
        padding: 1rem;

    }

    .header .datas div {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .header .datas label {
        font-size: 1rem;
    }

    .header .datas select {
        font-size: 1rem;
    }

    .user {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 2rem;
    }

    main {
        width: 100%;
        gap: 1rem;
    }

    main .analyse {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .card_kpi {
        width: 100%;
        min-height: 110px;
        padding: 1rem;
    }

    .card_kpi h1 {
        font-size: 1.6rem;
    }

    .card_kpi h3 {
        font-size: 1rem;
    }

    .kpi_header .material-symbols-outlined {
        font-size: 2rem;
    }

    .charts-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .first-section,
    .second-section {
        width: 100%;
    }

    .chart_card {
        width: 100%;
        min-height: 320px;
        padding: 1rem;
        padding: 0.5rem;
    }

    #map {
        width: 100%;
        height: 100%;
        padding: 0;
    }

}